.DS_Store
story/kling_api/
animatediff_*
chain_walk.gif
ip_walk_cycle*.gif
walk_*.gif
opt_*.gif
side_*.gif
*.png
!**/front_anim.gif
!**/01_neoncity.gif
!**/02_genesis.gif
!**/03_silhouettes.gif
!**/04_nightclub.gif
!**/01_safehouse.gif
!**/02_vega_lonely.gif
!**/03_cleaners.gif
!**/front.png
!**/right.png
!**/back.png
!**/left.png
